@if (user) {
    <div class="user-info-card">
      <div class="user-info-row">
        <b>Id:</b> <span>{{ user.id }}</span>
      </div>
      <div class="user-info-row">
        <b>User Name:</b> <span>{{ user.userName }}</span>
      </div>
      <div class="user-info-row">
        <b>Email:</b> <span>{{ user.email }}</span>
      </div>
      <div class="user-info-row">
        <b>Created At:</b> <span>{{ user.createdAt }}</span>
      </div>
      <div class="button-group">
        <button class="btn-primary" type="button" (click)="goToEditAccount()">Edit Account</button>
        <button class="btn-delete" type="button" (click)="deleteAccount()">Delete Account</button>
    </div>
    </div>
  } @else {
    <p>No user info to display</p>
  }
  
