<div class="user-info-card">
    <h2 class="form-title">Edit Expense</h2>
  
    <form *ngIf="expense" (ngSubmit)="editExpense()" #expenseForm="ngForm">
  
      <div class="user-info-row">
        <b>Amount:</b>
        <input type="number" [(ngModel)]="expense.amount" name="amount" required />
      </div>

      <div class="user-info-row">
        <b>Currency:</b>
        <select [(ngModel)]="expense.currencyId" name="currencyId" required>
          <option [value]="1">USD</option>
          <option [value]="2">EUR</option>
          <option [value]="3">GBP</option>
          <option [value]="4">DKK</option>
          <option [value]="5">SEK</option>
        </select>
      </div>
  
      <div class="user-info-row">
        <b>Expense Date:</b>
        <input type="date" [(ngModel)]="expense.expenseDate" name="expenseDate" required />
      </div>
  
      <div class="user-info-row">
        <b>Category:</b>
        <select [(ngModel)]="expense.categoryId" name="categoryId" required>
            <option [value]="1">Food</option>
            <option [value]="2">Transport</option>
            <option [value]="3">Entertainment</option>
            <option [value]="4">Utilities</option>
            <option [value]="5">Health</option>
            <option [value]="6">Other</option>
          </select>
      </div>
  
  
      <div class="user-info-row">
        <b>Comments:</b>
        <input type="text" [(ngModel)]="expense.comments" name="comments" />
      </div>
  
      <div class="button-group">
        <button type="submit" class="btn-primary">Submit</button>
      </div>
  
    </form>
  </div>
  