@if (expense) {
<div class="expense-card"> 
    <div >
        <b>Id: </b><span>{{expense.id}}</span>
    </div>
    <!-- <div>
        <b>User Id: </b><span>{{expense.userId}}</span>
    </div> -->
    <div>
        <b>Amount: </b><span>{{expense.amount}}  </span><span>  {{ currencyMap[expense.currencyId] }}</span>
    </div>
    <div>
        <b>Expense Date: </b><span>{{expense.expenseDate}}</span>
    </div>
    <div>
        <b>Category: </b><span>{{ categoryMap[expense.categoryId] }}</span>
    </div>
    <div>
        <b>Currency: </b><span>{{ currencyMap[expense.currencyId] }}</span>
    </div>
    <div>
        <b>Comments: </b><span>{{expense.comments}}</span>
    </div>
    <div>
    <b>Created At: </b><span>{{expense.createdAt}}</span>
    </div>
    <div class="button-group">
        <button class="edit-button" (click)="onEdit()">Edit</button>
        <button class="delete-button" (click)="onDelete()">Delete</button>
      </div>
  
</div>
    }
    @else {
    <p>No expense info to display</p>
    }
