<div class="login-container">
    <h2 class="login-title">Login</h2>
  
    <div class="input-group">
      <label for="username">Username</label>
      <input type="text" id="username" [(ngModel)]="username" placeholder="Enter your username"/>
    </div>
  
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" placeholder="Enter your password"/>
    </div>
  
    <div class="button-group">
      <button type="button" (click)="login()">Login</button>
    </div>

    <div class="error-message" *ngIf="loginError">
      {{ loginError }}
    </div>
    
  </div>
  