 @if (user) {
    <form #accountForm="ngForm" class="account-edit-form">

        <div class="user-info-row inline-row">
          <b>Id:</b> <span>{{ user.id }}</span>
        </div>
      
        <div class="user-info-row">
          <b>User Name:</b>
          <input type="text" [(ngModel)]="user.userName" name="username" required #username="ngModel" />
          <span class="error" *ngIf="username.invalid">Username is required</span>
        </div>
      
        <div class="user-info-row">
          <b>e-Mail:</b>
          <input type="text" [(ngModel)]="user.email" name="email" required
                 pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #email="ngModel" />
          <span class="error" *ngIf="email.invalid && email.touched">
            <span *ngIf="email.errors?.['required']">Email is required</span>
            <span *ngIf="email.errors?.['pattern']">Invalid email format</span>
          </span>
        </div>
      
        <div class="user-info-row">
          <b>Password:</b>
          <input type="password" [(ngModel)]="user.password" name="password" required
                 pattern="^(?=.*[0-9])(?=.*[^A-Za-z0-9]).{8,}$" #password="ngModel" />
          <span class="error" *ngIf="password.invalid && password.touched">
            <span *ngIf="password.errors?.['required']">Password is required</span>
            <span *ngIf="password.errors?.['pattern']">
              Password must be at least 8 characters, include a number and a special character
            </span>
          </span>
        </div>
      
        <div class="user-info-row">
          <b>Confirm Password:</b>
          <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required #confirmPasswordRef="ngModel" />
          <span class="error" *ngIf="confirmPassword !== user.password && confirmPasswordRef.touched">
            Passwords do not match
          </span>
        </div>
      
        <div class="user-info-row">
          <b>Created At:</b> <span>{{ user.createdAt }}</span>
        </div>
      
        <div class="button-group">
          <button class="btn-primary" type="button" (click)="saveChanges()">Save Changes</button>
        </div>
      
      </form>
      
  } @else {
    <p>No user info to display</p>
  }
  