   <form *ngIf="user" #accountForm="ngForm"> 


   
                <div class="user-info-row">
                    <b>Id:</b> <span>{{ user.id }}</span>
                </div>

                <div>
                    User Name: 
                    <input type="text" [(ngModel)]="user.userName" name="username" required #username="ngModel">
                    @if (username.invalid) {
                        <span>Username is required</span>
                    }
                </div>
                <div>
                    email: 
                    <input
                    type="text"
                    [(ngModel)]="user.email"
                    name="email"
                    required
                    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                    #email="ngModel"
                  />
                  
                  @if (email.invalid && email.touched) {
                    <span *ngIf="email.errors?.['required']">Email is required</span>
                    <span *ngIf="email.errors?.['pattern']">Invalid email format</span>
                  }
                </div>
                <div>
                    Password: 
                    <input
                    type="password"
                    [(ngModel)]="user.password"
                    name="password"
                    required
                    pattern="^(?=.*[0-9])(?=.*[^A-Za-z0-9]).{8,}$"
                    #password="ngModel"
                  />
                  @if (password.invalid && password.touched) {
                    <span *ngIf="password.errors?.['required']">
                      Password is required
                    </span>
                    <span *ngIf="password.errors?.['pattern']">
                      Password must be at least 8 characters, include a number and a special character
                    </span>
                  }
                  
                </div>

                <div>
                Confirm Password: 
               <input
               type="password"
               [(ngModel)]="confirmPassword"
               name="confirmPassword"
               required
               #confirmPasswordRef="ngModel"
             />
             @if ((confirmPassword !== user.password) && confirmPasswordRef.touched) {
               <span>Passwords do not match</span>
             }

                </div>

            <div class="user-info-row">
                <b>Created At:</b> <span>{{ user.createdAt }}</span>
            </div>
            <div class="button-group">
                <button class="btn-primary" type="button" (click)="saveChanges()">Save Changes</button>
            </div>
   
    </form>